header {
    background-color: #9EB3C2;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a {
    text-align: center;
    text-decoration: none;
    padding: 35px;
    color: black;
}
nav {
    text-align: center;
    font-size: 1.2em;
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: #7F804D;
}
.logo {
    width: 80px;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 150px 500px 300px;
    padding-top: 50px;
    background-color: #023C40;
    padding-bottom: 200px;
}
main a {
    grid-column: 2/6;
    grid-row: 2/3;
    padding-top: 100px;
    color: white;
    font-size: 1.2em;
}
.paragraph {
    grid-column: 2/6;
    grid-row: 3/4;
    padding-bottom: 50px;
    color: white;
    font-size: 1.3em;
}
.one {
    grid-column: 1;
    width: 100%;
}
.two {
    grid-column: 2;
    width: 100%;
}
.three {
    grid-column: 3;
    width: 100%;
}
.title {
    max-width: 100%;
    grid-column: 3/5;
}
main .pics {
    display: grid;
    width: 100%;
    grid-area: 4 / 1 / 5 / 7;
}
.pics > img {
    width: 75%;
    aspect-ratio: 1 / 1;
    border: 5px solid black;
    margin: auto;
    max-width: 300px;
}
footer {
    background-color: #9EB3C2;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    text-decoration: none;
    color: black;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
