header {
    background-color: #9EB3C2;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a {
    text-align: center;
    text-decoration: none;
    padding: 35px;
    color: black;
}
nav {
    text-align: center;
    font-size: 1.2em;
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: #7F804D;
}
.logo {
    width: 80px;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
main a {
    grid-column: 2/6;
    grid-row: 2/3;
}
.one {
    grid-column: 1/2;
    width: 100%;
}
.two {
    grid-column: 2/3;
    width: 100%;
}
.three {
    grid-column: 4/5;
    width: 100%;
}
.title {
    max-width: 100%;
    grid-column: 3/5;
}
main .pics {
    grid-row: 3/4;
    max-width: 200px;
}
footer {
    background-color: #9EB3C2;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    text-decoration: none;
    color: black;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
