@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    text-decoration: none;
    padding: 35px;
}
nav {
    text-align: center;
    font-size: 1.2em;
    display: flex;
    justify-content: space-around;
}
#hero-img {
    max-width: 1600px;
    display: block;
    margin: 0 auto;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
#background {
    height: 725px;
}
body {
    background-color: #023C40;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #9EB3C2;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover {
    background-color: #7F804D;
}
.home-title {
    margin-top: 10px;
}
.book, .join {
    background-color: #9EB3C2;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #7F804D;
}
#background {
    background-color: #9EB3C2;
}
.msg {
    background-color: #9EB3C2;
    padding: 35px;
}
.msg p {
    padding-bottom: 15px;
}
footer {
    background-color: #9EB3C2;
    padding: 25px 50px;
    margin-top: 200px;
}
#hero, .home-grid {
    color: black;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid black;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
footer a {
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}