@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
h2 {
    font-style: "IM fell French Canon SC";
}
p {
    font-style: Times, Georgia, serif;
}


header {
    background-color: #7D7461;
    display: grid;
    grid-template-columns: 150px auto;
}
.logo {
    width: 95px;
}
nav a {
    text-align: center;
    text-decoration: none;
    padding: 40px;
    color: black;
}
nav {
    text-align: center;
    font-size: 1.2em;
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: #95a2f1;
}




main {
    background-color: tan;
}
main section {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.paragraph {
    font-size: 2em;
    grid-column: 2/5;
    grid-row: 2/4;
}
main h2 {
    text-orientation: upright;
    writing-mode: vertical-lr;
    font-size: 2em;
    grid-column: 6/7;
    grid-row: 2/4;
    text-align: top;
}
.one {
    grid-column: 1/3;
    grid-row: 4/6;
    width: 100%;
    margin-top: 50px;
}
.two {
    grid-column: 4/6;
    grid-row: 4/6;
    width: 100%;
    margin-top: 50px;
}
.three {
    grid-column: 7/9;
    grid-row: 4/6;
    width: 100%;
    margin-top: 50px;
}
.four {
    grid-column: 2/5;
    grid-row: 6/9;
    width: 100%;
    margin-top: 50px;
}
.info {
    grid-column: 4/8;
    grid-row: 7/9;
    background-color: #521F00;
    color: white;
    font-size: 2.4em;
    padding: 50px;
}




footer {
    background-color: #7D7461;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    text-decoration: none;
    color: black;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}