@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
h2 {
    font-style: "IM fell French Canon SC";
}
p {
    font-style: Times, Georgia, serif;
}



header {
    background-color: #7D7461;
    display: grid;
    grid-template-columns: 150px auto;
}
.logo {
    width: 95px;
}
nav a {
    text-align: center;
    text-decoration: none;
    padding: 40px;
    color: black;
}
nav {
    text-align: center;
    font-size: 1.2em;
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: cornflowerblue;
}





main div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: tan;
}
.title{
    text-orientation: upright;
    writing-mode: vertical-lr;
    grid-column: 2/3;
    grid-row: 2/4;
    font-size: 2em;
}
.paragraph {
    grid-column: 4/8;
    grid-row: 2/4;
    font-size: 1.5em;
    line-height: 40px;
    margin-top: -25px;
}
.one {
    grid-column: 2/4;
    grid-row: 4/6;
    max-width: 325px;
}
.two {
    grid-column: 6/8;
    grid-row: 4/6;
    max-width: 400px;
}
.info {
    grid-column: 2/4;
    grid-row: 6/8;
    font-size: 2em;
    margin-top: 50px;
    padding-right: 50px;
}
.info_one {
    grid-column: 4/6;
    grid-row: 6/8;
    font-size: 2em;
    margin-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
}
.info_two {
    grid-column: 6/8;
    grid-row: 6/8;
    font-size: 2em;
    margin-top: 50px;
    padding-left: 50px;
}



footer {
    background-color: #7D7461;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    text-decoration: none;
    color: black;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}