content {
    font-style: Times;
}
header {
    background-color: #7D7461;
    display: grid;
    grid-template-columns: 150px auto;
}
.logo {
    width: 95px;
    padding-left: 5px;
    padding-top: 5px;
}
nav a {
    text-align: center;
    text-decoration: none;
    padding: 40px;
    color: black;
}
nav {
    text-align: center;
    font-size: 1.2em;
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: cornflowerblue;
}

main {
    background-color: tan;
}
main div {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 1fr 1fr 200px;
}
main img {
    border: 5px solid black;
    max-width: 200px;
}
.one {
    grid-column: 2/4;
    grid-row: 3/5;
    z-index: 2;
}
.one:hover {
    transform: scale(1.3);
    transition: transform .5s;
    z-index: 3;
}
.two {
    grid-column: 3/5;
    grid-row: 2/4;
    z-index: 1;
}
.two:hover {
    transform: scale(1.3);
    transition: transform .5s;
    z-index: 3;
}
.three {
    grid-column: 4/6;
    grid-row: 3/5;
    z-index: 2;
}
.three:hover {
    transform: scale(1.3);
    transition: transform .5s;
    z-index: 3;
}
.four {
    grid-column: 5/7;
    grid-row: 2/4;
    z-index: 1;
}
.four:hover {
    transform: scale(1.3);
    transition: transform .5s;
    z-index: 3;
}
.five {
    grid-column: 6/8;
    grid-row: 3/5;
    z-index: 2;
}
.five:hover {
    transform: scale(1.3);
    transition: transform .5s;
    z-index: 3;
}
.six {
    grid-column: 7/9;
    grid-row: 2/4;
    z-index: 1;
}
.six:hover {
    transform: scale(1.3);
    transition: transform .5s;
    z-index: 3;
}



.first {
    background-color: tan;
    padding: 50px;
    box-shadow: 5px 5px 10px #6f7364;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-right: 200px;
}
.first img {
    max-width: 600px;
    grid-column: 2/4;
    grid-row: 1/4;
}
.first h1 {
    font-size: 3em;
    grid-column: 4/6;
    grid-row: 1/2;
    z-index: 2;
    padding: 25px;
    background-color: whitesmoke;
    border: 2px dashed black;
}
.first p {
    padding: 50px;
    grid-column: 4/6;
    grid-row: 2/3;
    font-size: 1.2em;
    background-color: whitesmoke;
    border: 2px dashed black;
}


.second {
    background-color: tan;
    padding: 50px;
    box-shadow: 5px 5px 10px #6f7364;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-right: 200px;
}
.second img {
    max-width: 800px;
    grid-column: 2/4;
    grid-row: 1/4;
    margin-top: 100px;
}
.second h1 {
    font-size: 3em;
    grid-column: 4/6;
    grid-row: 1/2;
    z-index: 2;
    padding: 25px;
    background-color: whitesmoke;
    border: 2px dashed black;
}
.second p {
    padding: 50px;
    grid-column: 4/6;
    grid-row: 2/3;
    font-size: 1.2em;
    background-color: whitesmoke;
    border: 2px dashed black;
}








footer {
    background-color: #7D7461;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    text-decoration: none;
    color: black;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}