body {
    text-align: center;
}

h1, a {
    color: steelblue;
}

#active {
    background-color: steelblue;
    color: white;
}

.room {
    background-color: lightgray;
}

img {
    width: 100%;
    width: 400px;
    margin: 0 auto;
    display: block
}

p{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-size: 1.1em;
    line-height: 2em;
    padding: 10px;
}

nav a{
    text-decoration: none;
}

nav a:hover {
    color: green;
}